div.jumbotron
    div.container
        h1(style='padding-bottom: 1rem;') PLISE Equipment Manegement System
        h2#request(style='padding-bottom: 1rem;') 備品購入依頼
        form.form-horizontal(method='POST', action='/request/api', target='_self')
            div.form-group
                div.col-md-6
                    input(type='text', name='equipment_name', class='form-control', placeholder='物品名 ( e.g. ハムカツ)', require)
            div.form-group
                div.col-md-6
                    input(type='number', name='quantity', class='form-control', placeholder='数量 ( e.g. 1)', require)
            div.form-group
                div.col-md-6
                    input(type='text', name='user_name', class='form-control', placeholder='依頼者名 ( e.g. 西川直登)', require)
            div.form-group
                div.col-md-6
                    input(type='text', name='remarks', class='form-control', placeholder='備考 ( e.g. おやつとして )', require)
            div.form-group
                div.col-md-6
                    input(type='text', name='url', class='form-control', placeholder='URL ( e.g. http://hogehoge_shop.com/ )')
            div.form-group
                div.col-md-6
                    button.btn.btn-default(type='submit') 送信