doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='For PLISE Inventory management.')
        meta(name='author', content='nishikawa_naoto')
        
        case status
            when 0: link(type="image/x-icon", id="favicon", rel="icon", href="images/favicon_empty.png")
            when 1: link(type="image/x-icon", id="favicon", rel="icon", href="images/favicon_using.png")
    
        title トイレ空き状況確認
    
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/style.css')
    
    body
    
        case status
            when 0: img(id='toilet_status', src='images/empty.png' style='text-align: center;')
            when 1: img(id='toilet_status', src='images/using.png' style='text-align: center;')

        include footer.jade

        script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        script window.jQuery || document.write('<script src='../../assets/js/vendor/jquery.min.js'><\/script>')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/toilet.js')